openai
langchain
langchain_openai
langchain_experimental
langchainhub
pinecone
python-dotenv
tiktoken
docx2txt
pypdf
requests
numpy
pandas
pypdf
langchain-pinecone
huggingface
langchain-huggingface
python3.8.3
